<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body al-c">
          <% if @user.image? %>
            <%= image_tag @user.profile_image, :class => "mw50" %>
          <% else %>
            <%= image_tag("/images/icon/icon-mama-02-160px.png") %>
          <% end %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
  <p><span class="orange b"><%= @user.name %></span>
  <p class="orange b">自己紹介</p>
  <p><%= @user.profile_introduction %></p>
  </div>
</div>

<h3>New book</h3>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>

<h4>Title</h4>
<%= f.text_field :title, class: "book_title" %>

<h4>Opnion</h4>
<%= f.text_area :body, class: "book_body" %>

<br><%= f.submit 'Create Book' %></br>

<% end %>

<% その人の投稿だけ並んでる状態にする %>

