<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
     <%= attachment_introduction_tag @user, :profile_introduction %>
	<% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>
</div>

<h3>New book</h3>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>

<h4>Title</h4>
<%= f.text_field :title, class: "book_title" %>

<h4>Opnion</h4>
<%= f.text_area :body, class: "book_body" %>

<br><%= f.submit 'Create Book' %></br>

<% end %>