<%= render 'books/list', books: @post_books %>



<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h2>Title</h2>
<p><%= @book.title %></p>
<h2>Opnion</h2>
<p><%= @book.body %></p>

<% if @book.user == current_user %>
  <%= link_to "削除", book_path(@book), method: :delete %>
<% end %>

<%= link_to "back", books_path, class: "back" %>